<aside class="sidebar">
  <div class="sidebar-profile-image" [style.backgroundImage]="'url(' + user?.photoURL + ')'"></div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item" routerLink="/dashboard" routerLinkActive="active">
      <svg class="sidebar-menu-item-icon" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink"><circle data-name="layer2" cx="32" cy="32" r="30" fill="none" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"></circle><path data-name="layer2" fill="none" stroke-miterlimit="10" d="M8 32h6M32 8v5.999M50 32h6M45 20l4-4" stroke-linejoin="round" stroke-linecap="round"></path><path data-name="layer1" d="M15.183 16.544A.975.975 0 0 1 15 16a1 1 0 0 1 1.489-.873l18.748 11.821a5.999 5.999 0 1 1-8.153 8.486z" fill="none" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"></path>
      </svg>
    </li>
    <li class="sidebar-menu-item" routerLink="/schedules" routerLinkActive="active">
      <svg class="sidebar-menu-item-icon" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink"><path data-name="layer2" d="M51.834 21.998A12.082 12.082 0 0 1 52 24v26a12 12 0 0 1-12 12H14A12 12 0 0 1 2 50V24a12 12 0 0 1 12-12h26a12.115 12.115 0 0 1 2.001.166" fill="none" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"></path><circle data-name="layer1" cx="52" cy="12" r="10" fill="none" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"></circle></svg>
    </li>
    <li class="sidebar-menu-item logout" (click)="logout()">
      <svg class="sidebar-menu-item-icon" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink"><rect data-name="layer2" x="2" y="2" width="60" height="60" rx="7.8" ry="7.8" fill="none" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"></rect><path data-name="layer1" fill="none" stroke-miterlimit="10" d="M18 32h26m-18 8l-8-8 8-8" stroke-linejoin="round" stroke-linecap="round"></path></svg>
    </li>
  </ul>
</aside>
<main>
  <router-outlet></router-outlet>
</main>