@import './assets/scss/grid.scss';

@font-face {
  font-family: 'SHKODER 1989';
  src: url('./assets/fonts/SHKODER1989-Black.woff2') format('woff2'), url('./assets/fonts/SHKODER1989-Black.woff') format('woff');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'SHKODER 1989';
  src: url('./assets/fonts/SHKODER1989-Light.woff2') format('woff2'), url('./assets/fonts/SHKODER1989-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

:root {
  --text: #656565;
  --sidebar-text: #858585;
  --sidebar-text--active: var(--accent);
  --background: #f5f6f8;
  --sidebar-background: #ffffff;
  --accent: #684ede;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'SHKODER 1989', "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
